@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$DarkBlue: hsl(240, 38%, 20%);
$GrayBlue: hsl(240, 18%, 77%);

*{box-sizing: border-box;}
html{font-size: 62.5%;}
body{margin: 0; font-family: 'Inter', sans-serif;}
p, h1, h2, h3, h4, h5, h6{margin: 0;}
a{text-decoration: none;}
ul{margin: 0; padding: 0;
  li{list-style: none;}
}
#app {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
main{display: grid; place-items: center; height: 100vh;
  .container{max-width: 1110px; width: 100%; margin: 0 auto; display: flex; align-items: center; justify-content: center;
    img{max-width: 100%; display: block;}
    .card__left{flex:1;margin: 1px -55px 0 0; position: relative; z-index: 2; position: relative;
      .card__text{
        p, label, &+img{transition: opacity 0.4s, transform 0.4s ease-out; will-change: opacity, transform;}
        &+img{transition-delay: 0.05s;}
        p{font-size: 3.2rem; font-weight: 300; line-height: 44px;}
        label{font-size: 2rem; font-weight: 500; color:$GrayBlue;position: relative; top:38px; display: inline-block; transition-delay: 0.1s;
          b{color:$DarkBlue; margin-right: 5px;}
        }
        &.slide{
          &-prev{
            p, label, &+img{transform: translateX(50px); opacity: 0;}         
          }
          &-next{
            p, label, &+img{transform: translateX(-50px); opacity: 0;}
          }
        }       
        .john{display: none;}
      }     
      .paragraph__background{position: absolute; top: -65px; left: 95px;}
    }
    .card__right{position: relative;
      .card__background{position: absolute; top: -63px; right: -92px; max-width: none;}
      .card__swiper{width: 100%; max-width: 540px; margin-bottom: 34px; border-radius: 5px; box-shadow: 0px 40px 50px -30px rgba(36, 36, 113, 0.495001);
        .swiper-slide{pointer-events: none;}
      }
      .swiper-button-next, .swiper-button-prev{bottom:12px; top:auto;
        &:after{content: none;}
        &:before{content: ""; height: 56px; width: 56px; flex: none; background-color: white; box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313);}
      }
      .swiper-button-prev{left: 76px; 
        &:before{border-radius: 50px 0 0 50px; background: url("../images/icon-prev.svg") no-repeat 21px center white;}
      }
      .swiper-button-next{right: auto; left: 132px;
        &:before{border-radius: 0 50px 50px 0; background: url("../images/icon-next.svg") no-repeat 22px center white;}
      }
    }
    @media(max-width:1350px){max-width: 930px;    
      .card__left{
        .card__text{
          p{font-size: 2.2rem; line-height: 32px;}
          label{font-size: 1.8rem;}   
        }            
      }     
    }

     @media(max-width:1160px){
      .card__left{max-width: 445px;}
        .card__right{
          .card__background{right: -30px; max-width: 530px;}
          .card__swiper{max-width: 400px;}    
        }
     }

    @media(max-width:890px){flex-direction: column; gap:55px; margin-top: 100px;
      .card__left{order:2; text-align: center; margin: 0;
        .card__text{
          p{font-size: 1.8rem; line-height: 24px; margin-bottom: 20px;}
          label{font-size: 1.5rem; top:0;
            b{display: block; margin-right: 0; margin-bottom: 5px;}
          }
        }
          .paragraph__background{max-width: 60px; top: -24px; left:50%; transform: translateX(-50%);}
        }
        .card__right{order:1;   
          .swiper-button-next, .swiper-button-prev{left:50%;}
          .swiper-button-prev{transform: translateX(-100%);}
          .swiper-button-next{transform: translateX(100%);}
      }
    }

    @media(max-width:500px){margin-top: 0;
      .card__left{padding: 0 24px;}
        .card__right{
          .card__background{max-width: 328px; right: -37px; top:-30px;}
          .card__swiper{max-width: 254px;}
          .swiper-button-next, .swiper-button-prev{ left: 42%;
            &:before{height: 40px; width: 40px; background-position: center; background-size: 10px;}
          }
          .swiper-button-prev{transform: translateX(-47%);}          
      }
    }

    @media(max-width:350px){
      .card__left{
        .card__text{
          p{font-size: 1.4rem; line-height: 18px;}
        }        
      }
    }
  }

  .page__background{position: fixed; bottom:0; left: 0; max-width: 80%;}

  @media(max-width:500px){overflow: hidden;}
}
  